* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #3b4163;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.main-wrapper {
  background: #f5f5f5;
  border-radius: 5px;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
  position: relative;
}
.blue-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 15vmax 15vmax;
  border-color: transparent transparent #4d69fa transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}
.hangman-wrapper {
  position: relative;
  width: 40%;
}
.bar {
  width: 15vmax;
  height: 3vmin;
  background: #53555d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: 10px;
}
.hang {
  width: 1.5vw;
  height: 10vh;
  background: #53555d;
  position: relative;
  left: 12vw;
}
.head {
  position: relative;
  left: 10.25vw;
  top: -2vh;
  width: 5vw;
  z-index: 3;
}
.neck {
  background: #fece89;
  height: 5vh;
  width: 1.5vw;
  position: relative;
  left: 12vw;
  top: -4vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}
.stomach {
  border-radius: 5px;
  background: #3c5a92;
  width: 5vw;
  height: 10vmax;
  position: relative;
  left: 10.25vw;
  overflow: hidden;
}
.stomach-left {
  width: 50%;
  height: 70%;
  background: #8ac657;
  display: inline-block;
}
.stomach-right {
  width: 50%;
  height: 70%;
  background: #4ea06a;
  display: inline-block;
}
.right-arm {
  width: 7vw;
  height: 1.5vw;
  background: #4ea06a;
  position: absolute;
  left: 15vw;
  top: 0;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.left-arm {
  width: 7vw;
  height: 1.5vw;
  background: #8ac657;
  position: absolute;
  left: 3.6vw;
  top: 0;
  transform: rotate(-45deg);
  transform-origin: right top;
}
.hangmanBody-wrapper {
  position: relative;
  top: -5vh;
}
.right-hand {
  width: 1.5vmax;
  height: 1.5vmax;
  border-radius: 50%;
  background: #fece89;
  position: absolute;
  right: -1vmax;
}
.left-hand {
  width: 1.5vmax;
  height: 1.5vmax;
  border-radius: 50%;
  background: #fece89;
  position: absolute;
  left: -1vmax;
}
.left-leg {
  width: 8vmax;
  height: 2vmax;
  background: #3c5a92;
  transform: rotate(-80deg);
  transform-origin: right bottom;
  position: relative;
  top: -5vh;
  left: 4.3vw;
  display: inline-block;
  border-radius: 5px;
}
.right-leg {
  width: 8vmax;
  height: 2vmax;
  background: #3c5a92;
  transform: rotate(80deg);
  transform-origin: left bottom;
  position: relative;
  top: -5vh;
  left: 5.2vw;
  display: inline-block;
  border-radius: 5px;
}
.legs-wrapper {
  position: relative;
  top: -5vh;
}
.left-foot {
  background: #fece89;
  height: 1.5vmax;
  width: 4vmax;
  position: relative;
  left: 0.5vmax;
  bottom: 2.5vmax;
  transform: rotate(90deg);
  transform-origin: left top;
  border-radius: 5px;
  z-index: -1;
}
.right-foot {
  background: #fece89;
  height: 1.5vmax;
  width: 4vmax;
  position: absolute;
  right: -1vmax;
  top: 2vmax;
  transform: rotate(90deg);
  transform-origin: right top;
  border-radius: 5px;
}
